<h1>NAME: Aryan Singh<br>
Roll No: 2302900100065<br>
Branch: CSE</h1>

In [210]:
import pandas as pd

In [211]:
import numpy as np

<h1>OBJECTIVE 1: To load and inspect the dataset
</h1>

In [212]:
df = pd.read_csv(r"C:\Users\Aryan Singh\Downloads\students_data_dirty_1000_rows.csv")

In [213]:
df

,Roll,Name,Age,Gender,Marks,Branch,Email,City,Join_Date,Fees_Paid
0,1001,Shalini,21,Unknown,102,cse,shalini@gmail.com,Delhi,2023-04-25,45000.0
1,1002,NaN,-1,Female,47,ME,pallavi@gmail.com,NaN,2023-03-30,45000.0
2,1003,,21,Male,67,CSE,,Delhi,32-13-2023,45000.0
3,1004,Yogesh,21,Male,66,ME,yogesh@gmail.com,Delhi,2023-05-05,45000.0
4,1005,Rohit,20,NaN,60,ECE,rohit@gmail.com,Mumbai,2023-02-15,NaN
...,...,...,...,...,...,...,...,...,...,...
995,1996,Naresh,22,Male,72,ME,naresh@gmail.com,Mumbai,2023-03-22,45000.0
996,1997,Varun,20,Male,-20,ECE,varun@gmail.com,Mumbai,2023-04-12,45000.0
997,1997,Naveen,20,Male,54,ECE,naveen@gmail.com,Pune,2023-05-10,45000.0
998,1999,Neha,20,Female,88,CSE,anuj@gmail.com,Delhi,2023-01-10,45000.0
999,2000,Reena,20,Female,91,ECE,reena@gmail.com,Mumbai,2023-04-20,45000.0

In [214]:
pd.isnull(df).any()

Roll         False
Name          True
Age          False
Gender        True
Marks         True
Branch        True
Email         True
City          True
Join_Date     True
Fees_Paid     True
dtype: bool

In [215]:
df.dtypes

Roll          int64
Name         object
Age          object
Gender       object
Marks        object
Branch       object
Email        object
City         object
Join_Date    object
Fees_Paid    object
dtype: object

<h1>To identify and handle missing values
</h1>

In [216]:
pd.isna(df).any()

Roll         False
Name          True
Age          False
Gender        True
Marks         True
Branch        True
Email         True
City          True
Join_Date     True
Fees_Paid     True
dtype: bool

<h4>For 'Name' Column</h4>

In [217]:
df['Name']=df['Name'].fillna('Unknown')

In [218]:
df['Name'] = df['Name'].replace(" ","Unknown")

In [219]:
df['Name']

0      Shalini
1      Unknown
2      Unknown
3       Yogesh
4        Rohit
        ...
995     Naresh
996      Varun
997     Naveen
998       Neha
999      Reena
Name: Name, Length: 1000, dtype: object

In [220]:
pd.isna(df['Name'].any())

False

<h4>For "Gender" Column</h4>

In [221]:
df['Gender']=df['Gender'].fillna("Unknown")

In [222]:
df['Gender'] = df['Gender'].replace(" ","Unknown")

In [223]:
pd.isna(df['Gender'].any())

False

<h4>For "Marks" Column</h4>

In [224]:
df['Marks']=df['Marks'].fillna("Unknown")

In [225]:
df['Marks'] = df['Marks'].replace(" ","Unknown")

In [226]:
pd.isna(df['Gender'].any())

False

<h4>For "Branch" Column</h4>

In [227]:
df['Branch']=df['Branch'].fillna("Unknown")

In [228]:
df['Branch'] = df['Branch'].replace(" ","Unknown")

In [229]:
pd.isna(df['Branch'].any())

False

<h4>For "Email" Column </h4>

In [230]:
df['Email']=df['Email'].fillna("Unknown")

In [231]:
df['Branch'] = df['Branch'].replace(" ","Unknown")

In [232]:
pd.isna(df['Branch'].any())

False

<h4>For "City" Column </h4>

In [233]:
df['City']=df['City'].fillna("Unknown")

In [234]:
df['City'] = df['City'].replace(" ","Unknown")

In [235]:
pd.isna(df['City'].any())

False

<h4>For "Join_Date" Column </h4>

In [236]:
df['Join_Date']=df['Join_Date'].fillna("Unknown")

In [237]:
df['Join_Date'] = df['Join_Date'].replace(" ","Unknown")

In [238]:
pd.isna(df['Join_Date'].any())

False

<h4>For "Fees_Paid" Column</h4>

In [239]:
df['Fees_Paid']=df['Fees_Paid'].fillna("Unknown")

In [240]:
df['Fees_Paid'] = df['Fees_Paid'].replace(" ","Unknown")

In [241]:
pd.isna(df['Fees_Paid'].any())

False

In [242]:
pd.isna(df).any()

Roll         False
Name         False
Age          False
Gender       False
Marks        False
Branch       False
Email        False
City         False
Join_Date    False
Fees_Paid    False
dtype: bool

<h1>OBJECTIVE 2: To remove duplicate records</h1>

In [243]:
df.duplicated().sum()

np.int64(0)

In [244]:
df[df['Roll'].duplicated()==True]

,Roll,Name,Age,Gender,Marks,Branch,Email,City,Join_Date,Fees_Paid
42,1042,Shalini,21,Female,102,ME,shalini@gmail.com,Delhi,2023-04-25,-45000
47,1047,Unknown,20,Unknown,45,CSE,unknown,Bangalore,wrong_date,45000.0
56,1056,Rohit,20,Unknown,60,ECE,rohit@gmail.com,Mumbai,2023-02-15,Unknown
69,1069,Pallavi,19,Female,47,ME,pallavi@gmail.com,Unknown,2023-03-30,45000.0
90,1090,Naresh,22,Male,72,ME,naresh@gmail.com,Mumbai,2023-03-22,45000.0
111,1111,Manish,22,Male,65,CSE,manish@gmail,Delhi,2023-04-10,45000.0
207,1207,Pooja,21,Female,39,ME,pooja@gmail.com,Pune,2023-02-05,45000.0
213,1213,Sameer,23,Male,91,ME,sameer@gmail.com,Delhi,2023-05-20,45000.0
252,1252,Naresh,22,Male,72,ME,naresh@gmail.com,Mumbai,2023-03-22,45000.0
298,1298,Sameer,23,Male,91,ME,sameer@gmail.com,Delhi,2023-05-20,45000.0
374,1374,Vikas,0,Male,40,ECE,Unknown,Bangalore,2023-03-15,45000.0
384,1384,Kiran,19,Male,abc,CSE,kiran@gmail.com,Pune,2023-03-18,45000.0
394,1394,Naresh,22,Male,absent,ME,naresh@gmail.com,Mumbai,2023-03-22,45000.0
444,1444,Unknown,20,Female,88,CSE,anuj@gmail.com,Delhi,2023-01-10,45000.0
472,1472,Deepa,21,Female,68,ECE,deepa@gmail.com,Delhi,Unknown,45000.0
495,1495,Aman,-1,Male,-10,CSE,,Pune,2023-01-10,45000.0
539,1539,Anuj,20,Male,85,CSE,anuj@gmail.com,Delhi,2023-01-10,45000.0
548,1548,Neelam,20,Female,76,ECE,neelam@gmail.com,Delhi,2023-04-05,45000.0
593,1593,Vikas,20,Male,40,ECE,vikas@gmail.com,Bangalore,2023/99/01,45000.0
625,1625,Abhishek,21,Male,83,CSE,abhishek@gmail.com,Delhi,2023-04-18,45000.0
674,1674,Neelam,20,Female,76,ECE,neelam@gmail.com,Delhi,2023-04-05,45000.0
683,1683,Unknown,22,Female,Ninety,ME,Unknown,Mumbai,2023/03/15,45000.0
691,1691,Amit,23,Male,Unknown,CSE,amit@gmail.com,Mumbai,2023-04-28,45000.0
749,1749,Nikita,19,Female,55,CSE,nikita@gmail,Chennai,2023-02-28,45000.0
841,1841,Sunita,20,Female,35,ECE,sunita@gmail.com,Delhi,2023/99/01,45000.0
868,1868,Nikita,19,Female,55,CSE,nikita@gmail,Chennai,2023-02-28,45000.0
937,1937,Unknown,20,Female,35,ECE,sunita@gmail.com,Delhi,2023-02-18,45000.0
973,1973,Deepa,21,Female,68,ECE,deepa@gmail.com,Delhi,32-13-2023,45000.0
997,1997,Naveen,20,Male,54,ECE,naveen@gmail.com,Pune,2023-05-10,45000.0

In [245]:
df = df.drop_duplicates(subset='Roll', keep='first')

In [246]:
df

,Roll,Name,Age,Gender,Marks,Branch,Email,City,Join_Date,Fees_Paid
0,1001,Shalini,21,Unknown,102,cse,shalini@gmail.com,Delhi,2023-04-25,45000.0
1,1002,Unknown,-1,Female,47,ME,pallavi@gmail.com,Unknown,2023-03-30,45000.0
2,1003,Unknown,21,Male,67,CSE,,Delhi,32-13-2023,45000.0
3,1004,Yogesh,21,Male,66,ME,yogesh@gmail.com,Delhi,2023-05-05,45000.0
4,1005,Rohit,20,Unknown,60,ECE,rohit@gmail.com,Mumbai,2023-02-15,Unknown
...,...,...,...,...,...,...,...,...,...,...
994,1995,Neha,20,Female,88,CSE,anuj@gmail.com,Delhi,2023-01-10,45000.0
995,1996,Naresh,22,Male,72,ME,naresh@gmail.com,Mumbai,2023-03-22,45000.0
996,1997,Varun,20,Male,-20,ECE,varun@gmail.com,Mumbai,2023-04-12,45000.0
998,1999,Neha,20,Female,88,CSE,anuj@gmail.com,Delhi,2023-01-10,45000.0
999,2000,Reena,20,Female,91,ECE,reena@gmail.com,Mumbai,2023-04-20,45000.0

<h1>Objective 3: To correct invalid data entries</h1>

In [247]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 971 entries, 0 to 999
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Roll       971 non-null    int64
 1   Name       971 non-null    object
 2   Age        971 non-null    object
 3   Gender     971 non-null    object
 4   Marks      971 non-null    object
 5   Branch     971 non-null    object
 6   Email      971 non-null    object
 7   City       971 non-null    object
 8   Join_Date  971 non-null    object
 9   Fees_Paid  971 non-null    object
dtypes: int64(1), object(9)
memory usage: 83.4+ KB

<h4>For "Name" Column</h4>

In [248]:
df["Name"]=df["Name"].str.strip()

C:\Users\Aryan Singh\AppData\Local\Temp\ipykernel_4696\3841304238.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Name"]=df["Name"].str.strip()

In [249]:
#Removing numeric names
df["Name"]=df["Name"].replace(r'^\d+$',np.nan,regex=True)

C:\Users\Aryan Singh\AppData\Local\Temp\ipykernel_4696\1163840585.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Name"]=df["Name"].replace(r'^\d+$',np.nan,regex=True)

In [250]:
df["Name"]

0      Shalini
1      Unknown
2      Unknown
3       Yogesh
4        Rohit
        ...
994       Neha
995     Naresh
996      Varun
998       Neha
999      Reena
Name: Name, Length: 971, dtype: object

In [251]:
pd.isnull(df['Name']).sum()

np.int64(22)

<h4>For "Age" Column</h4>

In [252]:
#Converting "twenty" to 20
df["Age"]=df["Age"].replace("twenty",20)

C:\Users\Aryan Singh\AppData\Local\Temp\ipykernel_4696\2558273519.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Age"]=df["Age"].replace("twenty",20)

In [253]:
df[df["Age"]==20]

,Roll,Name,Age,Gender,Marks,Branch,Email,City,Join_Date,Fees_Paid
13,1014,Amit,20,Male,Unknown,CSE,amit@gmail.com,Mumbai,2023-04-28,45000.0
65,1066,Ravi,20,Male,78,ECE,ravi@gmail,Delhi,10-02-2023,45000.0
83,1084,Amit,20,Male,Unknown,CSE,amit@gmail.com,Mumbai,2023-04-28,45000.0
144,1145,Swati,20,Female,59,CSE,abc@,Pune,2023-03-25,45000.0
333,1334,Unknown,20,Female,82,Mechanical,tina@gmail.com,Mumbai,2023-03-12,45000.0
501,1502,Raj,20,Male,90,CSE,raj@gmail.com,Delhi,2023-03-10,45000.0
519,1520,Priya,20,Female,105,CSE,priya@gmail.com,Unknown,invalid,45000.0
598,1599,Nikita,20,Female,55,CSE,nikita@gmail,Chennai,2023-02-28,45000.0
836,1837,Harsh,20,Male,73,Mechanical,harsh@gmail.com,Mumbai,2023-05-15,45000.0
910,1911,Pooja,20,Female,39,ME,pooja@gmail.com,Pune,2023-02-05,45000.0

In [254]:
df["Age"] = pd.to_numeric(df["Age"],errors="coerce")

C:\Users\Aryan Singh\AppData\Local\Temp\ipykernel_4696\2160815937.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Age"] = pd.to_numeric(df["Age"],errors="coerce")

In [255]:
#Age less than 0 and greater than 100 becomes nan
df.loc[(df["Age"]<0) | (df["Age"]>100), "Age"]=np.nan

In [256]:
df["Age"]

0      21.0
1       NaN
2      21.0
3      21.0
4      20.0
       ...
994    20.0
995    22.0
996    20.0
998    20.0
999    20.0
Name: Age, Length: 971, dtype: float64

<h4>For "Gender" Column</h4>

In [257]:
df["Gender"]=df["Gender"].replace({"M":"Male","F":"Female","Unknown":np.nan})

C:\Users\Aryan Singh\AppData\Local\Temp\ipykernel_4696\3039162762.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Gender"]=df["Gender"].replace({"M":"Male","F":"Female","Unknown":np.nan})

In [258]:
df["Gender"]

0         NaN
1      Female
2        Male
3        Male
4         NaN
        ...
994    Female
995      Male
996      Male
998    Female
999    Female
Name: Gender, Length: 971, dtype: object

<h4>For "Marks" Column</h4>

In [259]:
df["Marks"]=df["Marks"].replace({"abc":np.nan,"Ninety":90,"absent":np.nan,"N/A":np.nan})

C:\Users\Aryan Singh\AppData\Local\Temp\ipykernel_4696\3331302100.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Marks"]=df["Marks"].replace({"abc":np.nan,"Ninety":90,"absent":np.nan,"N/A":np.nan})

In [260]:
df["Marks"]=pd.to_numeric(df["Marks"],errors="coerce")

C:\Users\Aryan Singh\AppData\Local\Temp\ipykernel_4696\460614974.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Marks"]=pd.to_numeric(df["Marks"],errors="coerce")

In [261]:
df["Marks"]

0      102.0
1       47.0
2       67.0
3       66.0
4       60.0
       ...
994     88.0
995     72.0
996    -20.0
998     88.0
999     91.0
Name: Marks, Length: 971, dtype: float64

<h4>For "Branch" Column</h4>

In [262]:
df["Branch"]=df["Branch"].str.upper()

C:\Users\Aryan Singh\AppData\Local\Temp\ipykernel_4696\3698794220.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Branch"]=df["Branch"].str.upper()

In [263]:
df["Branch"]

0      CSE
1       ME
2      CSE
3       ME
4      ECE
      ...
994    CSE
995     ME
996    ECE
998    CSE
999    ECE
Name: Branch, Length: 971, dtype: object

In [264]:
#Removing dots in branches
df["Branch"]=df["Branch"].str.replace(".","",regex=False)

C:\Users\Aryan Singh\AppData\Local\Temp\ipykernel_4696\1643932655.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Branch"]=df["Branch"].str.replace(".","",regex=False)

In [265]:
df["Branch"]

0      CSE
1       ME
2      CSE
3       ME
4      ECE
      ...
994    CSE
995     ME
996    ECE
998    CSE
999    ECE
Name: Branch, Length: 971, dtype: object

In [266]:
#Removing white spaces in Branches
df["Branch"]=df["Branch"].str.replace(" ","",regex=False)

C:\Users\Aryan Singh\AppData\Local\Temp\ipykernel_4696\271869082.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Branch"]=df["Branch"].str.replace(" ","",regex=False)

In [267]:
df["Branch"]

0      CSE
1       ME
2      CSE
3       ME
4      ECE
      ...
994    CSE
995     ME
996    ECE
998    CSE
999    ECE
Name: Branch, Length: 971, dtype: object

<h4>For "Email" Column</h4>

In [268]:
#General form of an email
p="^[\w]+@[\w]+\.[\w]+$"

In [270]:
df['Email']=df['Email'].where(df['Email'].str.match(p), 'invalid')

C:\Users\Aryan Singh\AppData\Local\Temp\ipykernel_4696\1046394717.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Email']=df['Email'].where(df['Email'].str.match(p), 'invalid')

In [271]:
df["Email"]

0      shalini@gmail.com
1      pallavi@gmail.com
2                invalid
3       yogesh@gmail.com
4        rohit@gmail.com
             ...
994       anuj@gmail.com
995     naresh@gmail.com
996      varun@gmail.com
998       anuj@gmail.com
999      reena@gmail.com
Name: Email, Length: 971, dtype: object

In [272]:
df['Email']=df['Email'].replace(" ", np.nan)

C:\Users\Aryan Singh\AppData\Local\Temp\ipykernel_4696\63392180.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Email']=df['Email'].replace(" ", np.nan)

<h4>For "Join_Date" Column</h4>

In [274]:
df["Join_Date"]=pd.to_datetime(df["Join_Date"], errors="coerce", dayfirst=True)

C:\Users\Aryan Singh\AppData\Local\Temp\ipykernel_4696\2209397413.py:1: UserWarning: Parsing dates in %Y-%m-%d format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  df["Join_Date"]=pd.to_datetime(df["Join_Date"], errors="coerce", dayfirst=True)
C:\Users\Aryan Singh\AppData\Local\Temp\ipykernel_4696\2209397413.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Join_Date"]=pd.to_datetime(df["Join_Date"], errors="coerce", dayfirst=True)

<h4>For "Fees_Paid" Column</h4>

In [276]:
df["Fees_Paid"]=df["Fees_Paid"].replace({"forty thousand":40000})

C:\Users\Aryan Singh\AppData\Local\Temp\ipykernel_4696\1495836666.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Fees_Paid"]=df["Fees_Paid"].replace({"forty thousand":40000})

In [278]:
df["Fees_Paid"]=pd.to_numeric(df["Fees_Paid"],errors="coerce")

C:\Users\Aryan Singh\AppData\Local\Temp\ipykernel_4696\185368466.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Fees_Paid"]=pd.to_numeric(df["Fees_Paid"],errors="coerce")

In [279]:
df.loc[(df["Fees_Paid"]<0),"Fees_Paid"]=np.nan

In [280]:
df["Fees_Paid"]

0      45000.0
1      45000.0
2      45000.0
3      45000.0
4          NaN
        ...
994    45000.0
995    45000.0
996    45000.0
998    45000.0
999    45000.0
Name: Fees_Paid, Length: 971, dtype: float64

<h1>Cleaned DataFrame</h1>

In [282]:
#DataFrame is cleaned properly
df

,Roll,Name,Age,Gender,Marks,Branch,Email,City,Join_Date,Fees_Paid
0,1001,Shalini,21.0,NaN,102.0,CSE,shalini@gmail.com,Delhi,2023-04-25,45000.0
1,1002,Unknown,NaN,Female,47.0,ME,pallavi@gmail.com,Unknown,2023-03-30,45000.0
2,1003,Unknown,21.0,Male,67.0,CSE,invalid,Delhi,NaT,45000.0
3,1004,Yogesh,21.0,Male,66.0,ME,yogesh@gmail.com,Delhi,2023-05-05,45000.0
4,1005,Rohit,20.0,NaN,60.0,ECE,rohit@gmail.com,Mumbai,2023-02-15,NaN
...,...,...,...,...,...,...,...,...,...,...
994,1995,Neha,20.0,Female,88.0,CSE,anuj@gmail.com,Delhi,2023-01-10,45000.0
995,1996,Naresh,22.0,Male,72.0,ME,naresh@gmail.com,Mumbai,2023-03-22,45000.0
996,1997,Varun,20.0,Male,-20.0,ECE,varun@gmail.com,Mumbai,2023-04-12,45000.0
998,1999,Neha,20.0,Female,88.0,CSE,anuj@gmail.com,Delhi,2023-01-10,45000.0
999,2000,Reena,20.0,Female,91.0,ECE,reena@gmail.com,Mumbai,2023-04-20,45000.0